* {
font-family: 'Franklin Gothic Medium', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--gray);
}
:root {
    /* COMPOUND PALETTE */
    --gray: rgb(179, 180, 182); 
    --iceblue: #00CCFF;
    --blue: #1447CC;
    --darkblue: #3D5699;
    --orange: #FF8040;
    --darkorange: #CC3714;
    /* ANALAGOUS PALETTE */
    --green: #0DFFAA;
    /* TRIAD PALETTE */
    --yellow: #FFEC19;
    /* GRADIENTS */
    --gradientblue: linear-gradient(to right, var(--iceblue), var(--darkblue));
    --revgradientblue: linear-gradient(to left, var(--iceblue), var(--darkblue));
    --centergradientblue: linear-gradient(to right, var(--darkblue), var(--iceblue), var(--iceblue), var(--darkblue));
    --gradientorange: linear-gradient(180deg, var(--orange), var(--darkorange));
    --gradientblueorange: linear-gradient(to right, var(--darkorange), var(--darkblue))
}
.banner {
    /* jumbotron style banner behind header*/
    width: 100%;
    height: 200px;
    padding: 75px 0px;
    background: url("../images/Scoggins_highSchool_visit1_panorama_cropped1.jpeg");
    background-size: 1900px 350px;
    background-color: var(--darkblue);
    margin-bottom: 100px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 300%;
    font-style: bold;
    text-align: center;
    padding: 50px 50px;
    border: 9px ridge var(--iceblue);
    border-radius: 10px;
    margin: 0px 200px 75px 200px;
    background: var(--gradientorange);
}
/* Navbar has spacing around it, and does not cover up banner image */
nav {
    display: flex;
    transition: flex-basis 500ms linear;
    font-size: 125%;
    margin-bottom: 1px;
    text-transform: uppercase;
}
.navbar, .navcenter, .navright{
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 90%;
    padding: 15px 15px;
    margin: 25px 15px;
}

nav .navbar{
    text-align: center;
    align-items: center;
    padding: 8px 5px;
    border: 3px solid var(--orange);
    background: var(--gradientblue);
    /* margin-top: 50px; */
}
/* different color gradient for 3rd link in nav bar */
nav .navcenter {
    text-align: center;
    align-items: center;
    padding: 8px 5px;
    border: 3px solid var(--orange);
    background: var(--centergradientblue);
    /* margin-top: 50px; */
}
/* different color gradient for 4th and 5th link in nav bar */
nav .navright {
    /* width: 20%; */
    text-align: center;
    align-items: center;
    padding: 8px 5px;
    border: 3px solid var(--orange);
    background: var(--revgradientblue);
    /* margin-top: 50px; */
}
/* color style of hover from analagous pallete
TODO: add other colors to analagous pallete and redo */
.navbar:hover, .navcenter:hover, .navright:hover {
    font-style: italic;
    color: var(--green);
    background: var(--gradientblueorange);
    border: 4px dashed var(--iceblue);
}
.navbar:active, .navcenter:active, .navright:active {
    font-size: 85%;
    font-style: normal;
    font-style: bold;
    border: 8px double var(--darkblue);
    background: var(--gradientorange);
}
/* TODO: FORMAT THE ABOUT ME SECTION WITH H3 and with MEDIA QUERY */
article {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}
.aboutme {
    border: 9px inset var(--orange);
    background: var(--centergradientblue);
    margin-left: 25px; 
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.headshot {
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 20%;
    height: 30%;
    float: right;
    border: 9px inset var(--orange);
    margin: 20px 3px;
}
.aboutme h3, .aboutme p {
    /* border: 9px inset var(--orange); */
    /* background: var(--centergradientblue); */
    /* margin-right: 300px;
    margin-left: 25px; */
    padding: 10px 50px;
    margin: 5px 10px;
    background: transparent;
}
h3 {
    font-size: 150%;
    
}
p {
    font-size: 150%;
    text-align: center;
}
.LBlink {
    background: transparent;
    color: var(--yellow);
}
.LBlink:hover {
    font-style: italic;
    color: var(--green);
    background: var(--gradientblueorange);
    border: 4px dashed var(--iceblue);
}
.LBlink:active {
    font-size: 115%;
    font-style: normal;
    font-style: bold;
    border: 8px double var(--darkblue);
    background: var(--gradientorange);
}
main {
    display:flex;
    flex-wrap: wrap;
    transition: flex-basis 500ms linear;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
}
.cardlink {
    /* transition: flex-basis 500ms linear; */
    padding: 5px 7px;
    border: 10px dotted var(--orange);
    margin: 20px 100px;
}
.cardlink:hover{
    font-style: italic;
    color: var(--green);
    background: var(--gradientblueorange);
    /* padding: 2px 4px; */
    border: 4px dashed var(--iceblue);
}

h2 {
    text-align: center;
    padding: 20px 10px;
    border: groove 10px var(--iceblue);
    margin: 10px 20px 25px 20px;
}

#coderefactor {
    width: 300px;
    height: 400px;
}
#passGen {
    width: 300px;
    height: 200px;
    margin-top: 75px;
}
#work-day-scheduler {
    width: 300px;
    height: 200px;
}
#weather-dashboard {
    width: 300px;
    height: 200px;
}
h3 {
    font-size: 150%;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
    margin: 20px 50px;

}
h4 {
    font-size: 300%;
    text-align: center;
    padding: 20px 10px;
    border: groove 10px var(--iceblue);
    margin: 10px 20px 25px 20px;
}
label { 
    flex-direction: column;
    background: var(--green)
}
input {
    background: var(--yellow)
}
.msginput{
    justify-content: center;
    align-items: flex-end;
    height: 200px;
}
li {
    list-style-type: none;
    /* display: flex;
    flex-direction: row; */
}


@media screen and (max-width: 992px) {
    header {
        padding: 20px 30px;
    }
    nav, .navbar, .navcenter, .navright{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    main, h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav a, .navcenter, .navright {
        /* width: 40%; */
        padding: 10px 10px;
        /* margin-bottom: 200px; */
        background: var(--centergradientblue);
    }
    .aboutme {
        margin: 350px 10px 20px 10px;
    }
    /* FINISH LINING UP HEADSHOT AND CARDS WITH MEDIA QUERY */
    #MQheadshot {
        display: flex;
    }
    .headshot {
        justify-content: center;
        display: block;
    }
}
/* NEED TO CENTER THE IMAGES WITHIN EACH CARD */
/* maybe make another ID or class */
@media screen and (max-width: 768px) {
    header {
        padding: 30px 0px;
   
    }
    nav, .navbar, .navcenter, .navright {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 100px;
        margin-bottom: 0px;
    }
    main {
        padding: 140px;
    }
    article {
        flex-wrap: wrap;
        align-items: center;
        padding: 0px 0px;
        margin: 100px 0px;
    }
}
